# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.component

#misc
*~
Builds/MacOSX/build/
Builds/MacOSX/micronau.xcodeproj/xcuserdata/
Builds/MacOSX/micronau.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/micronau.xcodeproj/project.xcworkspace/xcshareddata/
JuceLibraryCode/BinaryData.cpp
JuceLibraryCode/BinaryData.h
JuceLibraryCode/modules/juce_core/json/
.DS_Store
